html * { /* ordem estrutural */
  box-sizing: border-box; /* para organizar o tamanho do meu documento html */

}

.logo {
  display: grid;
  max-width: 100%;
  background-color: inherit;
  font-family: sans-serif;
  color: inherit#424242;
  border-radius: 8px;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  color: #424242;
}

img {
  max-width: 100%;
  border-radius: 8px;

} /* recurso para otimizar as imagens, pensando na responsividade */

.grid { /* chamo a classe, usando .grid para aplicar esse estilo em todas elas */
  display: grid; /* o valor para essa propriedade é o grid */
  /* grid-template-columns: 1fr 1fr repeat () 1fr; a section agora foi limitada a este tamanho e cada coluna vai ter uma fração do espaço disponivel, que aqui é o main */
  grid-template-columns: repeat(4, 1fr); /* função interna do CCS3 */
  grid-gap: 22px;
}

.card { /* a logica da cascata também vale para as propriedades? */
  background-color: white;
  border-radius: 8px;
  padding: 30px;
}
